<% provide(:title, "Contact") %>
<h1>Contact</h1>

<p>
  Contact the Ruby on Rails about the sample app at
  <%= link_to "contact page", "http://www.railstutorial.org/#contact/" %>
</p>

<%= link_to "Back", root_url %>
